<style>
  video.landing-hero-video__video {
    width: 100%;
}
  .landing__hero-video-wrap {
    position: relative;
}
  .landing-hero-video__content {
    position: absolute;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 15px;
}
  .landing-hero-video__content.content-position-middle {
    top: 0;
    bottom: 0;
}
  .landing-hero-video__content.content-position-bottom {
    bottom: 0;
}
   .landing-hero-video__content.content-position-top {
    top: 0;
}
  h2.landing-hero-video__title {
    margin: 0;
    color: #ffffff;
}
  h3.landing-hero-video__subtitle {
    color: #ffffff;
}
   @media screen and (max-width: 750px) {
       video.landing-hero-video__video {
         height: 85vh;
         object-fit: cover;
      }
     .landing-hero-video__content{
       bottom: 20px!important;
          display: block;
          text-align:center;
          padding: 0 15px;
     }
     
   }
</style>
<div class="landing__hero-video-wrap" data-section-type="hero--video">
  <a
    href=""
    class="landing-hero-video__container"
    style=""
    aria-labelledby=""
  >

  
{%- if section.settings.video_url -%}
{%- liquid assign video_id = section.settings.video_url.id -%}
    {%- if section.settings.video_url.type == 'youtube' -%}
            <iframe
              src="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1&autoplay=1{{ loop }}"
              class="js-youtube"
              allow="autoplay; encrypted-media"
              allowfullscreen
              title="{{ section.settings.description | escape }}"
            ></iframe>
          {%- else -%}
            <iframe
              src="https://player.vimeo.com/video/{{ video_id }}?autoplay=1{{ loop }}"
              class="js-vimeo"
              allow="autoplay; encrypted-media"
              allowfullscreen
              title="{{ section.settings.description | escape }}"
            ></iframe>
          {%- endif -%}

  {%- else -%}

      <video
      src="{{ section.settings.vdo_url  }}"
      class="landing-hero-video__video"
      autoplay=""
      muted=""
      loop=""
      playsinline=""
      js-video=""
    ></video>

  {%- endif -%}   
 
  </a>

  <div
    class="landing-hero-video__content content-position-{{ section.settings.content_position }} ">
    <div class="landing-hero-video__text">
      <h2
        id=""
        class="landing-hero-video__title"
      >
       {{ section.settings.heading }}
      </h2>

      <h3 class="landing-hero-video__subtitle">
      {{ section.settings.sub-heading }}
      </h3>
    </div>
    <div class="landing-hero-video__buttons">
      <a
        href="{{ section.settings.btn_url }}"
        class="landing-hero-video__cta button button--secondary"
        >{{ section.settings.btn_name }}</a
      >
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Landing Hero Video",
  "settings": [
     {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "url",
      "id": "vdo_url",
      "label": "Shopify Hosted Video Link"
    },
    {
      "type": "video_url",
      "id": "video_url",
      "accept": ["youtube", "vimeo"],
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
      "label": "t:sections.video.settings.video_url.label",
      "info": "t:sections.video.settings.video_url.info"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default":"Lorem Ipsum is simply dummy text."
    },
    {
      "type": "textarea",
      "id": "sub-heading",
      "label": "Sub Heading",
      "default":" Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been."
    },
    {
      "type": "text",
      "id": "btn_name",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "Button Link"
    },
    {
            "type": "select",
            "id": "content_position",
            "label": "Content Position",
            "default": "bottom",
            "options": [
              {
                "label": "TOP",
                "value": "top"
              },
              {
                "value": "middle",
                "label": "MIDDLE"
              },
              {
                "label": "BOTTOM",
                "value": "bottom"
              }
            ]
          }
  ],
  "presets": [{
    "name": "Landing Hero Video"
  }]
}
{% endschema %}
